/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.2;
  background-color: slategrey;
  color: white; 
}

h1 {
  font-family: verdana, arial, sans-serif;
}

.hidden {
  display: none;
}

button {
  padding: 10px;
  border-radius: 20px;
}

#gameButtonArea > button {
  width:100px;
  height:100px;
  margin:3px;
}

#button1 {
    background: aquamarine;
}

#button2 {
    background: cornflowerblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: lightyellow;
}

#button1:active, #button1.lit {
    background:teal;
}

#button2:active, #button2.lit {
    background:midnightblue;
}

#button3:active, #button3.lit {
    background:mediumvioletred;
}

#button4:active, #button4.lit {
    background:darkkhaki;
}



/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}